header
    .container-fluid
      .container
        .row
          if(results !== undefined)
            .search
              .formsWrapper
                form#searchForm.text-center(action="/results", method="post", name="searchForm", autocomplete="off")
                  .searchBarWrapper
                    input(type="text", placeholder="Enter your location...", required="required", name="searchBar").searchBar#searchBar
                
                form(method="post", action="/results?loc=true" name="locateMeForm")#locateMeForm
                  a().locateMe.myTooltip
                    i.material-icons  gps_fixed  
                      .main Locate Me
                      .tail 
                      
          .logoWrapper.col-xs-6.text-left
              a(href="#")
                h3.logo foodiebay
          .buttonWrapper.col-xs-6.text-right
            if (user == undefined)
              a(href='/auth/twitter')
                button.login
                  img(src='https://raw.githubusercontent.com/arshdkhn1/nightlife-coordination-app/master/public/images/twitter.png')
                  | Log In
            else
              a(href='/logout')
                button
                  =user.name.split(" ")[0]
                  span.divider
                  | Log Out   