.resultsWrapper.row
	.result
		.imgWrapper.col-xs-3
		.infoWrapper.col-xs-9
			.nameWrapper
				h3 Midnight Maddness
			.otherInfoWrapper
				p.
					This is one the best restaurant of New Delhi. Nice environment, nice food and nice music.
		.peopleGoingWrapper.col-xs-9
			p. 
				10 people going
		.controlsWrapper.col-xs-9
			a
				button Not Going
