for result in results.businesses	
	.resultsWrapper.row
		.imgWrapper.col-xs-3
			img(src='#{result.image_url}' class="restaurantPic")
		.infoWrapper.col-xs-9.text-left
			.col-xs-12
				.nameWrapper
					h3	#{result.name}
				.otherInfoWrapper
					p	#{result.snippet_text}
				.peopleGoingWrapper
					p. 
						10 people going
				.controlsWrapper
					a
						button Not Going
