$white         : rgb(254, 254, 254)
$faded-white   : rgba($white, .2)
$black         : #333
$dark-grey     : #666
$grey          : #888

=transition($property, $time)
	-webkit-transition: $property $time ease-out
	-moz-transition: $property $time ease-out
	-o-transition: $property $time ease-out
	transition: $property $time ease-out

=bkdSize($val)
	-ms-background-size: $val
	-o-background-size: $val
	-moz-background-size: $val
	-webkit-background-size: $val
	background-size: $val

=borderRadius($rad)
	-webkit-border-radius: $rad
	-moz-border-radius: $rad
	border-radius: $rad

* 
	color: $white
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, sans-serif

html 
	font-size: 1px

\::-webkit-input-placeholder
	color: $grey

\:-moz-placeholder
	color: $grey

\::-moz-placeholder
	color: $grey

\:-ms-input-placeholder
	color: $grey


.marB10
	margin-bottom: 10px

.marB30
	margin-bottom: 30px

.marB20
	margin-bottom: 20px
	
.marT10
	margin-top: 10px

.marT30
	margin-top: 30px

.marT20
	margin-top: 20px
	
.divider
	margin: auto 8px
	border-right: 2px solid $white
	font-size: 10px
	
.container
	max-width: 800px
	
header
	position: fixed
	width: 100%
	z-index: 2
	padding: 15px 0
	background-color: #159957
	background-image: linear-gradient(130deg, #159957, #155799)
	top: 0
	width: 100%
	z-index: 100

a 
	text-decoration: none !important
	&:hover, &:active
	text-decoration: none !important