@import global

body 
	background: url('https://raw.githubusercontent.com/arshdkhn1/nightlife-coordination-app/master/public/images/bkd.jpg') no-repeat
	background-position: center
	background-attachment: fixed

.row
	margin-top: 15px
	
button
	background: transparent
	border: none
	color: $primary-white
	border: solid 3px 
	text-transform: uppercase
	padding: 10px 25px
	background: transparent
	outline: none
	+mtransition(color, background, 100ms)
	img
		width: 12px
		margin-right: 5px
		padding-bottom: 2px
	&:hover
		background: $faded-white
	
.searchWrapper
	margin-top: 50px

h2.logo
	font-family: Permanent Marker !important
	font-size: 32px
	color: $primary-white
	margin: auto
	background: $faded-white
	border-radius: 50%
	width: 200px
	height: 200px
	display: inline-block
	padding-top: 60px
	border: solid 5px 
	+mtransition(transform, color, 300ms) 
	span
		display: block
		font-family: inherit !important
		letter-spacing: 4px
		color: inherit
		transform: rotate(-15deg)
		line-height: 1
		cursor: default
	&:hover
		transform: rotate(360deg)
		color: $yellow

h3.heading
	font-weight: 200
	font-size: 22px
	color: $primary-white

.searchBarWrapper
	margin: auto
	position: relative

	.searchBar
		width: 100%
		margin: auto
		border: solid 4px $primary-white
		padding: 10px 10px 10px 55px
		color: $primary-white
		background: $faded-white
		outline: none
		+transition(100ms,background)
		&:focus
			background: transparent
	
	&:before 
		font-family: Glyphicons Halflings
		content: '\e062'
		color: $primary-white
		position: absolute
		top: 15px
		left: 20px
		border-right: solid 2px $primary-white
		padding-right: 11px
		line-height: 1.2
		

.resultsWrapper
	margin: 70px auto
	color: $primary-white

.restaurantPic
	background: rgba($primary-white, .2)
	border: solid 4px 
	border-radius: 5px
	
.imgWrapper, .infoWrapper 
	padding: 0
	
.resultInfoHeading
	color: $primary-white
	margin-top: 20px
	
.restaurantName
	font-family: Permanent Marker !important