extends ../layouts/layout

block content
  
  include ../components/header              
  
  main
    .container
      .searchWrapper.text-center.container
        h2.logo.
          foodiebay
        h3.heading.text-center.
          Find the best meals in any city in the world. Select the most hoppin' restaurants and rsvp ahead of time.
        .formsWrapper  
          form#searchForm.text-center(action="/results", method="post", name="searchForm", autocomplete="off")
            .searchBarWrapper
              input(type="text", placeholder="Enter your location...", required="required", name="searchBar").searchBar#searchBar
              
          form(method="post", action="/results?loc=true" name="locateMeForm")#locateMeForm
            a().locateMe.myTooltip
              i.material-icons  gps_fixed
                .main Locate Me
                .tail    
  
  script(src="/javascripts/homepage.js")