extends ../layouts/resultsLayout

block content
  include ../components/header
  
  if (results !== null)
    include ../components/results
  else 
    include ../components/noResults
    
  include ../components/footer
  
  script(src="/javascripts/homepage.js")